<div class="container">
  <div class="row">

    <div class="col-4">
    </div>

    <div class="col-4">
      <h2>Sign up</h2>

        <div class="field">
          You are not allowed to sign up
        </div>
    </div>

     <div class="col-4">
    </div>

  </div>
</div>
