// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#skills {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--white);
  height: inherit;

  .skills_cards {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, 100px);
    // justify-content: start;
    // grid-gap: 1em;

    // .admin_alternatives {
    //   margin: 1em 0;
    //   display: flex;
    //   justify-content: space-between;
    //   a {
    //     padding: 1px 6px;
    //     background-color: white;
    //     border-radius: 5px;
    //     color: black;
    //     font-weight: bold;
    //     mix-blend-mode: screen;
    //     &:hover {
    //       text-decoration: none;
    //     }
    //   }
    // }
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;


    .skill_card {
      margin: 1em 2em 1em 0;
      width: 100px;
      height: 130px;
      padding: 15px 10px;
      background: rgba(10, 3, 130, 0.5);

      display: grid;
      grid-template-columns: 1fr;
      justify-items: stretch;
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);

      img {
        margin: 0 auto;
       }
      .text_container {

        display: inline-block;
        vertical-align: bottom;
        text-align: center;
        font-size: 1rem;
        font-weight: 100;
      }
    }
  }
}
