<section id="banner" style="background-image: linear-gradient(rgba(33, 10, 172,0.3), rgba(33, 10, 172,0.3)),url(<%= image_path('banner.jpg') %>)">
  <div class="container">
    <h1 style="color: #a99c7f">Pierre Garcia<br><span style="color:#FEFDED">
    Développeur Fullstack</span></h1>
    <p>Développeur Junior familier du code depuis l'adolescence, je souhaite est intégrer une équipe à taille humaine, qui me permette d'évoluer en Back et Front, apporter mes connaissances, et consolider mes bonnes pratiques.</p>
    <a class="button" href="mailto:pierrebgarciad@gmail.com?subject=Hello Pierre">Contact</a>
    <%#= cl_image_tag("v1591105148/portfolio/CSS", width: 50) %>
  </div>
</section>
