<section id="banner" style="background-image: linear-gradient(rgba(33, 10, 172,0.3), rgba(33, 10, 172,0.3)),url(<%= image_path('banner.jpg') %>)">
  <div class="container">
    <h1>Pierre Garcia<br><span style="color: #0A0382">
    Développeur Fullstack</span></h1>
    <p>Riche d’un parcours dans les arts-appliqués, j’ai professionnalisé
    mes compétences en développement web. Je souhaite mettre à profit de nombreuses
  skills acquises dans la conception de produits et de solutions sur-mesure : adaptabilité
à l’exigence client, gestion d’équipe hyper réactive, méthodes orientées résultat, autonomie et
exigence qualitative, qui s’apparentent au mode de travail agile.</p>
    <a class="button" href="mailto:pierrebgarciad@gmail.com?subject=Hello Pierre">Contact</a>

  </div>
</section>
