<div class="bio_card">
      <div class="front" style="background-image: url(<%= image_path(icon) %>)">
      </div>
      <div class="back">
        <div class="back-content middle">
          <h2><%= title  %></h2>
          <span><%= content %></span>

<!--      <div class="sm">
            <a href="#">X</a>
            <a href="#">X</a>
            <a href="#">X</a>
            <a href="#">X</a>
          </div> -->

      </div>
    </div>

  </div>

