<div class="bio-card">

      <div class="front" style="background-image: url(<%= image_path(link) %>)">
      </div>
      <div class="back">
        <div class="back-content middle">
          <h2>Title</h2>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus euismod quis viverra nibh cras pulvinar. Amet justo donec enim diam vulputate ut.</span>
          <div class="sm">
            <a href="#">X</a>
            <a href="#">X</a>
            <a href="#">X</a>
            <a href="#">X</a>
          </div>

      </div>
    </div>
  </div>

