<section id="dev_projects">
  <div class="container">
    <h1>Portfolio</h1>


    <div id="cards_section">
      <% if user_signed_in? %>
        <div class="admin-add">
          <%= link_to 'Add a new project', new_project_path, class: 'admin_alternatives' %>
        </div>
      <% end %>

      <% @dev_projects.each do |project| %>
        <%= render 'dev_project_card', project: project %>
      <% end %>
    </div>
  </div>
</section>
