<footer id="footer" style="background-image: linear-gradient(rgba(49, 56, 62,0.55), rgba(49, 56, 62,0.95)), url(<%= image_path ('banner.jpg') %>)">
  <div class="container">
    <h1>Footer</h1>
  </div>
</footer>
