<section id="portfolio">
      <div class="container">
        <h1>Portfolio</h1>

          <div id="cards_section">
            <% card = {link: "staticpages.jpg", title: 'Static-pages', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'}
 %>
            <%= render 'card',  %>
            <%#= render 'card' %>
            <%#= render 'card' %>
            <%#= render 'card' %>
          </div>
      </div>
</section>
