<section id="portfolio">
  <div class="container">
    <h1>Portfolio</h1>

    <div id="cards_section">
      <% @portfolio.each do |project| %>
        <%= render 'portfolio_card', project: project %>
      <% end %>
    </div>
  </div>
</section>
