<div class='skill_card'>

    <%= image_tag "iconsNew/#{icon}.svg", width: 50 %>
  <div class="text_container">
    <%= text %>
  </div>
</div>




<!--
    <%= image_tag "iconsNew/#{icon}.svg", width: 50 %>
  <div class="text_container">
    <span><%= text %></span>
  </div>
-->
