<section id="skills" style="background-image: linear-gradient(rgba(10, 3, 130,0.25), rgba(10, 3, 130,0.85)), url(<%= image_path ('banner.jpg') %>)" >
  <div class="container">
    <h1>Skills</h1>
    <p></p>
    <div class="skills_cards">
      <% skills = [{ icon: 'rails', text: 'Ruby On Rails 6' },
       { icon: 'HTML', text: 'HTML'},
       { icon: 'CSS', text: 'CSS'},
       { icon: 'JS', text: 'Javascript ES6'},
       { icon: 'SQL', text: 'SQL'},
       { icon: 'github', text: 'Github'},
       { icon: 'react', text: 'React'},
       { icon: 'heroku', text: 'Heroku'},
       { icon: 'postgresql', text: 'PostgreSQL'},
       { icon: 'git', text: 'Git'},
       { icon: 'ruby', text: 'Ruby'},
       { icon: 'photoshop', text: 'Photoshop'},
       { icon: 'illustrator', text: 'Illustrator'},
       { icon: 'indesign', text: 'Indesign'},
       { icon: 'figma', text: 'Figma'},
       ] %>
       <% skills.each do |skill| %>
       <%= render 'skill_card', skill %>
       <% end %>
     </div>
   </div>
</section>
