<section id="skills" style="background-image: linear-gradient(rgba(33, 10, 172,0.25), rgba(33, 10, 172,0.85)), url(<%= image_path ('banner.jpg') %>)" >
      <div class="container">
        <h1>Skills</h1>
          <p></p>
          <table>
          <thead>
            <tr>
              <td>HTML</td>
              <td>Ruby On Rails</td>
              <td>Photoshop</td>
            </tr>
            <tr>
              <td>CSS</td>
              <td>React</td>
              <td>Illustrator</td>
            <tr>
            <tr>
              <td>Javascript ES6</td>
              <td>PostgreSQL</td>
              <td>InDesign</td>
            </tr>
            <tr>
              <td>Ruby</td>
              <td>Git / Github</td>
            </tr>
            <tr>
              <td>SQL</td>
              <td>Heroku</td>
            </tr>
            <tr>
              <td>Bootstrap</td>
            </tr>
          </thead>
        </table>
      </div>
    </section>
