<section id="skills" style="background-image: linear-gradient(rgba(10, 3, 130,0.25), rgba(10, 3, 130, 0.85)), url(<%= image_path ('banner.jpg') %>)" >
  <div class="container">
    <h1>Skills</h1>

    <% if user_signed_in? %>
    <div class="admin-add">
      <%= link_to 'Add a new skill', new_skill_path, class: 'admin_alternatives' %>
    </div>
    <% end %>
    <div class="skills_cards">
      <% @skills.each do |skill| %>
        <%= render 'skill_card', skill: skill, icon: skill.icon, iconName: skill.iconName, text: skill.text %>
      <% end %>
    </div>

  </div>
</section>
