// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


$dominante: #0A0382; // RGB 10 3 130
$dominanteClaire: #39479C;
$complementaire: #a99c7f; // RGB 169 156 127
$complementaireClaire: #d4cebf; // RGB 212 206 191
$complementaireGris: #E3E0D9;
$white: #FEFDED;
$gris: #f2f2f2;
$noir: #31383e;
// $url: "https://www.pexels.com/photo/background-backlight-blur-color-262713/";
$url: 'bannerH.jpg';

html {
  box-sizing: border-box;
  background-color: $gris;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
}

body {
  background-color: $white;
  width: 100%;
 //min-height: 100vh;
}
section {
  height: 100vh;
  width: 100%;
  .container {
    padding: 8em 0;
  }
}
.container {
  width: 960px;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: "Montserrat", "Futura", Arial, sans-serif;
  }
}
footer {
  height: auto;
  width: 100%;
  .container {
    padding: 5em 0;
  }
}
#banner{
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: $white;

  p {
    padding: 2em 0 5em 0;
    font-weight: 200;
  }
  .button {
    opacity: 0.7;
    background-color: none;
    border: 3px solid $complementaireClaire;
    border-radius: 5px;
    padding: 0.5em 1em;
    color: $complementaireClaire;
    margin: 6em 0 8em 0;
    &:hover {
      // transition-duration: 1s;
      // color: $complementaire;
      // border: 3px solid $complementaire;
      transition: 0.7s;
      opacity: 1.5;
      text-decoration: none;
    }
  }
}

#navigation {
  background-color: $dominante;
  font-family: "Roboto", "Futura", Arial, sans-serif;
  color: $white;
  height: 75px;
  box-shadow: 0 0 1em rgba(0,0,0,0.75);
  padding: 0 2em;
  .nav-link {
    color: rgba(255, 255, 255, 0.75);
    &:hover {
      color: $white;
      transition: 1s;
    }
  }
}

#skills {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: $white;
  table {
    margin-top: 3.5em;
  }
  td {
    width: 200px;
    height: 2em;
    img {
      margin: 10px 10px 10px 0;
    }
  }
}

#portfolio{
  background-color: $gris;
  color: $dominante;
  height: inherit;
  #cards_section {
    // background-color: red;
    width: 100%;
    height: inherit;

    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-between;
    align-items: center;

    .portfolio_card {
      background-color: white;
      height: 400px;
      width: 500px;
      border-radius: 15px;
      margin: 40px 0;
      box-shadow: 0 0 10px $gris;
      img {
        opacity: 0.4;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      .portfolio_card_infos {
        padding: 15px;
        background-color: $dominante;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        h4 {
          font-size: 1em;
          font-weight: bold;
          color: $complementaireClaire;
        }
        p {
          font-size: 0.8em;
          color: $white;
        }
      }
    }
  }
}

#bio{
  // background-image: linear-gradient(rgba(144, 133, 214,0.55), rgba(144, 133, 214,0.95)),url('bannerH.jpg');

  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: $complementaireClaire;
  color: $white;
  height: inherit;
}

#contact{

  background-color: $complementaireClaire;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  background-color: $complementaireClaire;
  color: $white;
}

#footer{
  // background-image: linear-gradient(rgba(49, 56, 62,0.55), rgba(49, 56, 62,0.95)),url('bannerH.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: $complementaire;
  font-size: 18px;
  img {
    margin: 0.5em;
  }
}

.btn-contact {
  color: $gris;
  background-color: $complementaire;
  border: 1px solid $complementaire;
  border-radius: 4px;
  &:hover {
    color: $white;
  }
}
.card_strip {
  margin: 3em 0;
  padding-bottom: 3em;
  border-bottom: 1px solid rgba(10, 3, 130,0.7);
}
.image-card {
  width: 200px;
  height: 300px;
  // background-image: linear-gradient(rgba(212, 206, 191,0.6), rgba(212, 206, 191,0.9)), url('petme.jpg');
  // background-image: linear-gradient(rgba(10, 3, 130,0.2), rgba(10, 3, 130,0.5)), url('petme.jpg');

  border-radius: 5px;
}
.content-card {
  h2 {
    color: $dominante;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 1.1px;
  }
  p {
    color: $noir;
  }
  margin-left: 3em;
  padding-top: 3em;
  .icons {
    display: block;
    float: right;
    img {
      margin-right: 1.2em;
    }
  }
}
#bio {
  .col {
    padding: 0
  }
}
.biocard {
  width: 100%;
  // border: 2px solid yellow;
  border-radius: 20px;
  // background-position: center center;
  // background-attachment: fixed;
  background-size: cover;
}
.biocard:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

