// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



// $url: "https://www.pexels.com/photo/background-backlight-blur-color-262713/";
$url: 'bannerH.jpg';

html {
  box-sizing: border-box;
  background-color: var(--gris);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
}

// html {
//   position:absolute;
// }

// html, body {
//   overflow:hidden;
//   background:#000;
//   width:100%;
//   height:100%;
// }

body {
  background-color: var(--white);
  width: 100%;
 //min-height: 100vh;
}

section {
  height: 100vh;
  width: 100%;
  .container {
    padding: 8em 0;
  }
  h1 {
  margin-bottom: 50px;
  }
  p {
    margin-bottom: 80px;
  }
}

.container {
  // width: 960px;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: "Montserrat", "Futura", Arial, sans-serif;
  }
}

footer {
  height: auto;
  width: 100%;
  .container {
    padding: 3em 0;
    p {
      font-size: 0.8rem;
      line-height: 1.3rem;
      margin: 0;
      color: var(--complementaire);
    }
  }
}



.admin-add {
  padding: 1em 0;
}

a.admin_alternatives {
  margin-left: 1em;
  padding: 1px 6px;
  background-color: white;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  mix-blend-mode: screen;
  &:hover {
    text-decoration: none;
  }
}

.admin_options {
  margin: 1em 0;
  display: flex;
  justify-content: end;
}

@media(max-width: 768px) {
  .container{ width: 95%; }
  .portfolio_card { width: 80%; }
}
#contact{
  background-color: var(--complementaire-claire);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--complementaire-claire);
  color: var(--white);
}

#footer{
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--complementaire);
  font-size: 1em;
  img {
    margin: 0.5em;
  }
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn-contact {
  color: var(--gris);
  background-color: var(--complementaire);
  border: 1px solid var(--complementaire);
  border-radius: 4px;
  &:hover {
    color: var(--white);
  }
}

.image_card {
  width: 200px;
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;
}

.content-card {
  h2 {
    color: var(--dominante);
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 1.1px;
  }
  p {
    color: var(--noir);
  }
  margin-left: 3em;
  padding-top: 3em;
  .icons {
    display: block;
    float: right;
    img {
      margin-right: 1.2em;
    }
  }
}


